*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.idea/
/build
/captures
.externalNativeBuild
.cxx
.env
.project
.settings
api_key_gpc.json
app/google-services-dev.json
app/google-services.json
fastlane/report.xml
keystore.properties
keystore_upload.jks
private_key.pepk
.idea/gradle.xml
.idea/misc.xml
