*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.env
fastlane/report.xml
keystore.properties
.settings/org.eclipse.buildship.core.prefs
keystore_private.jks
.project
keystore_upload.jks
private_key.pepk
api_key_gpc.json
